:root {
  --primary-color: #436e7a;
  --bright-color: #fff;
  --stroke-color: #000;
  --secondary-bg-color: #eee;
}

<<<<<<< HEAD
::selection {
  color: var(--primary-color);
}

* {
  overflow-x: hidden;
  overflow-y: hidden;
}

.login {
  margin-top: 5.1875rem;
  display: grid;
  place-items: center;
  width: 100vw;
  height: 100%;
=======
.login {
  margin-top: 0.625rem;
  display: grid;
  place-items: center;
  width: 100vw;
>>>>>>> 4105f3c (resolve rebase conflicts)
  max-width: 100vw;
}

.width-50 {
  width: 50%;
}

.ml-auto {
  margin-left: auto;
}

h2 {
  text-transform: capitalize;
  margin: 3rem 0 1.5rem 0;
}

<<<<<<< HEAD
.vectors {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100vh;
  max-width: auto;
}

.vectors img:first-of-type {
  position: absolute;
  top: 10%;
  left: 80%;
}

.vectors img:not(img:first-of-type) {
  position: absolute;
  right: 80%;
  top: 50%;
}

/* Password icons */
=======
/* .field input[type="password"]::before {
  content: url("../../assets/eye-solid.svg");
  width: 30%;
  height: 30%;
  display: inline-block;
  margin-left: auto;
} */

>>>>>>> 4105f3c (resolve rebase conflicts)
.password-hide {
  width: 2.5rem;
  height: 1.6875rem;
}

<<<<<<< HEAD
.active {
  display: block;
}

.password-hide .password-show-icon,
.active,
.password-hide-icon {
  width: 2.5rem;
  height: 1.6875rem;
  position: absolute;
  bottom: 24.5%;
  left: 60%;
  cursor: pointer;
}

.password-hide-icon {
  display: none;
=======
.vectors {
  position: absolute;
  z-index: -1;
  width: 100%;
  max-width: auto;
  overflow-y: hidden;
  overflow-x: hidden;
}

.vectors * {
  position: sticky;
}

.vectors img:first-of-type {
  top: 40%;
  left: 90%;
}

.vectors img:not(img:first-of-type) {
  top: 1000%;
  right: 80%;
>>>>>>> 4105f3c (resolve rebase conflicts)
}
