@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap");

:root {
  --primary-color: #436e7a;
  --bright-color: #fff;
  --stroke-color: #000;
  --secondary-bg-color: #eee;
  --medium-font-weight: 500;
  overflow-x: hidden;
}

.register {
  font-family: "Inter", sans-serif;
  margin-top: 0.625rem;
  display: grid;
  place-items: center;
}

.width-50 {
  width: 50%;
}

.ml-auto {
  margin-left: auto;
}

input#staticInputId {
  width: 3.125rem !important;
}

h2 {
  margin: 1.5rem;
}

/* Progress bar */
.progress-bar {
  position: relative;
  display: flex;
  justify-content: space-between;
  counter-reset: step;
  margin: 3rem 0 4rem;
}

.progress-bar::before,
.progress {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 1px;
  width: 100%;
  max-width: 100%;
  background-color: var(--secondary-bg-color);
  z-index: -3;
}

.progress {
  background-color: var(--primary-color);
  width: 0%;
  transition: 0.3s;
}

.progress-step {
  width: 2.1275rem;
  height: 2.1275rem;
  max-width: 2.1275rem;
  background-color: var(--secondary-bg-color);
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}

.progress-step-active {
  background-color: var(--secondary-bg-color);
  border: 4px solid var(--primary-color);
}

.progress-step::before {
  counter-increment: step;
  content: counter(step);
}

.progress-step::after {
  content: attr(data-title);
  position: absolute;
  top: calc(100% * 1.2);
  font-size: 0.875rem;
  font-weight: var(--medium-font-weight);
  width: 40%;
  display: grid;
  place-items: center;
}

.complete {
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
  color: var(--bright-color);
}

.complete::after {
  content: attr(data-title);
  position: absolute;
  top: calc(100% * 1.2);
  font-size: 0.875rem;
  font-weight: var(--medium-font-weight);
  width: 40%;
  display: grid;
  place-items: center;
}
/* Form */
.text-center {
  text-align: center;
}

.btn-next:hover {
  box-shadow: 0 0 0 2px var(--bright-color), 0 0 0 3px var(--primary-color);
}

/* Button */
.btn-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr) !important;
  gap: 1.5rem;
}

.btn {
  padding: 0.75rem;
  display: block;
  text-decoration: none;
  background-color: var(--primary-color);
  color: var(--bright-color);
  text-align: center;
  border-radius: 0.625rem;
  font-weight: 700;
  cursor: pointer;
  height: 3.125rem;
}

.form-step {
  display: none;
  transform-origin: top;
  animation: animate 0.5s;
}

.form-step-active {
  display: block;
}

/* Vectors */
.register > .vectors {
  z-index: -1;
  width: 100%;
  max-width: auto;
}

.register > .vectors svg:first-of-type {
  position: absolute;
  top: 45%;
}

.register > .vectors svg:not(svg:first-of-type) {
  position: absolute;
  top: 10%;
  left: 80%;
}

@keyframes animate {
  from {
    transform: scale(1, 0);
    opacity: 0;
  }
  to {
    transform: scale(1, 1);
    opacity: 1;
  }
}

/* Password Icons */
.password-hide {
  width: 2.5rem;
  height: 1.6875rem;
}

.active {
  display: block;
}

.register .password-hide .password-show-icon,
.register .active,
.register .password-hide-icon {
  width: 2.5rem;
  height: 1.6875rem;
  position: absolute;
  bottom: 23.5%;
  left: 60%;
  cursor: pointer;
  z-index: 999;
}

.password-hide-icon {
  display: none;
}
