main{
    width: 90vw;
    background: #EAEAEA;
    margin-top: 4rem;
    position: relative;
    top: 1.5vh;
    padding-top: 2rem;
    height: 135vh;
}
.coverwidth{
    width: 100vw;
}

.container-hero{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 60% 35%;
    column-gap: 3%;
    position: relative;
    top: 0;
}
.container-left{
    width: 95%;
    background: #EAEAEA;
    border-right: 2px solid #10926E;
    padding: 2% ;
    position: relative;
}

.section-container{
display: flex;
}
.overall-container{
    display: flex;
    flex-direction: column;
}

.welcome-container{
    background: var(--theme-color);
    width: 70%;
    height: 5%;
    border-radius: 10px;
    text-align: center;
}
.welcome-container h4{
    padding: 6% 20% 3% 6% ;
    font-size: 1.2em;
    color: #fff;
}
.schedule-container{
    width: 100%;
    height: 15%;
    margin-top: 1.5rem;
    background: #FFFFFF;
    border-radius: 10px;
    position: relative;
    display: flex;
    justify-content: space-between;
}
.left-schedule-content{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
/* justify-content: center; */
    gap: 1rem;
    font-size: 16px;
    margin: 1rem 0 0 2rem;
}
.left-schedule-content>h2{
    color: #10926E;
    font-size: 2em;
    font-weight: 900;
}
.left-schedule-content>h6{
    color: #4A4747;
    font-weight: 900;
}
.button-view-schedule{
    width: 63%;
    height: 25%;
    background: #000;
    border: none;
    border-radius: 10px;
    font-size: 1em;
    font-weight: 900;
    margin-top: 5%;
    color: #fff;
    cursor: pointer;
}

.schedule-container img{
    width: 40%;
    height: 130%;
    position: absolute;
    top: -23%;
    right: 0;
}

.addTask{
    width: 100%;
    height: 7%;
    display: flex;
    justify-content: right;
    align-items: center;
    margin-top: 0.5rem;

}

.Toastify__toast--success {
    background-color: #10926E;
  }
  
.addSchedule{
    width: 30%;
    height: 95%;
    background: #000;
    border: none;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    font-size: 23px;
    cursor: pointer;
    font-weight: 900;
    color: #fff;
}

.notifications-placeholder,.completedTask-placeholder{
    width: 90%;
    height: 27%;
    background: #fff;
    padding: 2%;
    margin-top: 1rem;
    border-radius: 10px;
    position: relative;
    border: 1px #10926E solid;
}
.completedTask-placeholder h6{
    text-align: right;
}
.notification-container{
    height: 60%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.notif-header,.completed-header{
    width: 100%;
    height: 24%;
    display: flex;
    justify-content: space-between;
}
.deleteNotification{
    width: 25%;
    height: 90%;
    background: #fff;
    border-radius: 10px;
    border: 1px #b73434 solid;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    font-size: 21px;
}

.container-right{
    position: relative;
    width: 100% !important;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.dropdown{
    width: 85% !important;
    height: 6%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    background: #fff;
    margin: 1% 0 0 -4%;
    border: 1px #10926E solid;
    border-radius: 10px ;
}
.select-header{
    width: 90%;
    height: 80%;
    display: flex;
    /* display: none; */
    font-size: 21px;
    justify-content: space-between;
    align-items: center;

}

.dropmenuContainer{
    position: absolute;
    z-index: 1;
    top: 10%;
    width: 87%;
    min-height: 15%;
    max-height: fit-content;
    background: #fff;
    border: 1px #10926E solid;
    border-radius: 10px ;
    margin-top: -4%;
    transition: 3.4s linear ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    /* visibility: hidden; */

}
.dropmenuContainer h6{
    height: 9%;
}
.dropdown-menu{
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3%;
    background: #fff;
    align-items: center;
}
.addOrganisation{
    width: 80%;
    height: 2rem;
    /* background: #000; */
    display: flex;
    justify-content: right;
}
.addOrgan{
    width: 40%;
    height: 100%;
    border-radius: 10px;
    border: 1px #4A4747 solid;
    margin-bottom: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 18px;
    font-weight: 800;
    color: #fff;
    background: #10926E;
}

.rotate-caret{
    transform: rotate(180deg);
}
.dropdown-item{
  width: 80%;
  height: 17%;
  font-size: 18px;
  font-weight: 700;
  display: flex;
  align-items: center;
  border: 1px #959292 solid;
  margin: 1%;
  border-radius: 10px ;
}
.dropdown-item:hover{
    opacity: 0.6;
}
.visible{
    visibility: visible;
    width: 33vw;
    height: 58vh;
    position: absolute;
    z-index: 2;
    top: 10%;
    bottom: 50%;
    left: 50%;
    right: 50%;
    background: #333;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
   padding-top: 2rem;
}

.Completed-Task{
    width: 95%;
    height: 18%;
    background: #EEEBEB;
    margin: 1%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 2%;
    padding-left: 4%;
    position: relative;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 800;
    color: #4A4747;
}

.team-members-container{
    background: #fff;
    width: 90%;
    height: 40%;
    position: relative;
    top: 10%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin-top: 5%;
}
.team-members-container .title{
    height:5%;
   padding: 4%;
}
.teamMembers{
    width: 100%;
    height: 82%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4%;
}
.addTeamMember{
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
}
.addTeam{
    width: 42%;
    height: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: none;
    border: none;
    margin-right: 8%;
}

/* ----------------------------------STYLES FOR ADD SCHEDULE MODAL ------------------------------- */
.addScheduleModal{
    width: 30vw;
    height: 90vh;
    display: flex;
    position: absolute;
    border-radius: 10px;
    top: 5%;
    left: 35%;
    right: 0%;
    align-items: center;

    justify-content: center;
    background: #D9D9D9;
}
.addAScheduleForm{
    width: 98%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.SchedulemodalForm{
    width: 91%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2%;
    margin-top: 20%;
    justify-items: center;
}
.SchedulemodalForm h3{
    width: 80%;
    height: 8%;
    color: #367588;
    text-align: left;
    font-size: 20px;
}
.SchedulemodalForm .form-control {
    width: 85%;
    height: 12%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: left;
    gap: 6%;
}

.SchedulemodalForm .form-control input, select, .SchedulemodalForm .form-control textarea{
    width: 100%;
    height: 75%;
    border-radius: 10px;
    border: none;
    padding-left: 2%;
    text-align: left;
    cursor: pointer;


}
.notifyday{
    width: 85%;
    height: 10%;
    display: flex;
    flex-direction: column;
    gap: 2%;
    color: #367588;
    /* font-size: 15px; */
    font-weight: 800;

}
.days{
    width: 100%;
    height: 100%;
    display: flex;
    gap: 2%;
}
.notifyday button{
    width: 14%;
    height: 100%;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}
.form-control textarea{
    padding-top: 4%;

}

.form-control label{
    font-size: 18px;
    font-weight: 800;
    color: #367588;
}
.form-control input:focus ,select:focus , textarea:focus{
    outline: 2px #367588 solid;
  
}
.addmodalbuttons{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4%;
}
.save ,.cancel{
    width: 20%;
    height: 70%;
    font-size: 17px;
    font-weight: 800;
    border: none;
}
.save{
    background: #367588;
    color: #fff;
}
.cancel{
    color: #367588;
}
.remove-or-add-member{
    width: 50%;
    height: 25%;
    background: #EEEBEB;
    position: absolute;
    top: 10%;
    left: 37%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    z-index: 1;
    border-radius: 10px;
    
}
.title h6{
    font-size: 18px;
    margin-top: -4%;
    color: #10926E;
}
/* ------------------------------------------------MEDIA QUERIES------------------------------------------------ */

@media screen and (max-width: 1000px){
    main{
        width: 95vw;
    }
    .addSchedule{
        font-size: 17px;
    }
}

@media screen and (max-width:900px) {
    .container-hero{
        column-gap: 0%;
        grid-template-columns: 60% 40%;
    }
    .dropdown{
        width: 100%;
        /* display: none; */
    }
    .addScheduleModal{
        width: 80vw;
        left: 10%;
    }
    .calender-placeholder,.team-members-container{
        width: 100%;
    }
    .container-right{
        border: none;
    }
    .schedule-container img{
        display: none;
    }
    main{
        width: 95vw;
    }
    .teamMember h3{
        font-size: 12px;
    }
    .addTeam h4{
        font-size: 13px;
    }
    .title h3{
        font-size: 11px;
    }
}

@media screen and (max-width: 600px) {
    
    .addSchedule img{
        display: none;
    }
    .deleteNotification img{
        display: none;
    }
    .title h2{
        font-size: 16px;
    }
    
    .addTeam {
        width: 80%;
    }
    .teamMember h3{
        font-size: 11px;
    }
    .Completed-Task img{
        display: none;
    }
}

@media screen  and (max-width: 520px) {
    .container{
        height: 150vh;
    }
    .container-hero{
        display: flex;flex-direction: column;
    }
    .schedule-container{
        display: flex;
        align-items: center;
        height: 8vh;
    }
    .welcome-container{
        height: 3rem;
    }
    .welcome-container h4{
        font-size: 14px;
    }
    .left-schedule-content{
        height: 100%;
    }
    .button-view-schedule{
        width: 9rem;
        height: 60%;
    }
    .left-schedule-content h2, .left-schedule-content h6{
        display: none;
    } 
    .notifications-placeholder{
       display: none;
    }
    .completedTask-placeholder{
        height: 9rem;
    }
    .container-right{
        width: 80vw;
    }
    .calender-placeholder{
        height: 40vh;
margin-bottom: 3%;
    }
    .addScheduleModal{
        width: 80vw;
        left: 10%;
    }
    .single-task{
        width: 90%;
        height: 19%;
        align-items: center;

    }
    .single-task h4{
        margin-top: -25px;
        font-size: 12px;
    }

    .team-members-container{
        border: 2px #10926E solid;
        height: 40vh;
    }
    .modal-content{
        width: 85vw;
    }
}