@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap");
body {
  background-color: white;
  font-family: "Inter", sans-serif;
  font-size: large;
}

.home {
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

h2 {
  margin-bottom: 40px;
}

.top {
  display: flex;
  height: 70px;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  transform: scale(0.55);
}

.home .logo {
  display: flex;
  padding: 20px;
  justify-self: flex-start;
}

.links {
  flex-grow: 0.5;
  padding: 10px;
  display: flex;
  flex-shrink: 2;
  justify-content: flex-end;
}

.links a {
  font-size: 20;
  margin: 0 10px;
}

.register-btns .reglink {
  background-color: #367588;
  border-radius: 10px;
  width: 80px;
  justify-content: center;
  display: flex;
  align-items: center;
  height: 35px;
}

.reglink a {
  color: white;
}

#link1 {
  background-color: white;
}

#link1 a {
  color: #367588;
}

.register-btns {
  width: 15%;
}

/*####################################### GENERAL BODY STYLING*/
.section h3 {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 1.4em;
}

.section h2 {
  font-size: 2em;
}

/*####################################### */
.first {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 0 12vh 0;
  overflow: hidden;
  margin-bottom: 10px;
}

.first .svgs {
  transform: scale(1.29);
}

#second {
  position: absolute;
  left: 2%;
  right: 0%;
  top: 10%;
  z-index: -4;
}

.intro {
  position: absolute;
  align-self: center;
  color: white;
  font-size: 1.1em;
  font-weight: bold;
}

.intro h1 {
  font-weight: bold;
  margin: 10px;
}

/*################################## SERVICES*/
.service-card,
.subscription {
  display: flex;
  flex-grow: 2;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

/*############################### CARDS*/
.card {
  background-color: white;
  flex-direction: column;
  max-width: 18vw;
  min-width: 18vw;
  min-height: 20em;
  padding: 23px;
  margin: 0 50px 35px 40px;
  border-radius: 19px;
}

.middle {
  position: relative;
}

.middle .mid {
  position: absolute;
  z-index: -2;
  top: 0;
  left: 0;
}

.card a {
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #367588;
  color: white;
  font-weight: bold;
}

/*################################## SUBSCRIPTION*/
.subscription .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.text li,
ul {
  margin: 10px;
  list-style-position: inside;
  list-style: circle;
}

/*##################################   CONTACT*/
.contact {
  flex-wrap: wrap-reverse;
}

.contact-info {
  flex-grow: 1.5;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
}

.contact-form {
  margin-right: 150px;
  width: 38%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-form form {
  display: flex;
  position: relative;
  background-color: rgba(54, 117, 136, 0.8784313725);
  flex-direction: column;
  margin: 10px;
  width: 300px;
  height: 290px;
  padding: 35px;
  border-radius: 30px;
}

.contact-form form input,
.contact-form form textarea {
  padding: 10px;
  margin: 20px 10px 0;
  outline-width: 0;
}

.contact-form form a {
  margin: 40px 20px 0 0;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  align-self: center;
}

.contact-form form::after {
  content: "";
  position: absolute;
  border-radius: 30px;
  transform: scale(1.12);
  top: 0;
  bottom: 0;
  right: -4%;
  z-index: -1;
  left: 15%;
  background-color: #eeeeee;
}

.icon {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-bottom: 30px;
}

/*########################## FOOTER*/
.s {
  z-index: -2;
  width: 100%;
  margin-top: 3em;
  position: absolute;
}

.footer {
  position: relative;
  bottom: 0;
  margin-top: 2em;
}

#footer {
  position: absolute;
  width: 60%;
  height: 40%;
  top: 15%;
  left: -25%;
}

.footer-content {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.contents {
  position: absolute;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: white;
  left: 2vw;
  bottom: -560px;
  line-height: 30px;
}

.foot-description {
  display: flex;
  flex-direction: column;
  text-align: left;
  flex-grow: 1;
  width: 30%;
}

.social-media {
  display: flex;
  width: 50%;
  justify-content: space-evenly;
  margin-top: 40px;
  font-size: 40px;
}

.location div {
  display: flex;
}

.location p {
  margin: 0px 30px 30px 30px;
}

.social-medial {
  width: 45%;
  padding: 10px;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
}

.media {
  height: 40px;
  border-radius: 50%;
  background-color: white;
  width: 40px;
  margin: 20px 15px;
}

.weblinks {
  text-align: left;
  flex-grow: 1;
  margin-left: 20px;
  margin-bottom: 100px;
}

.web-services {
  flex-grow: 3;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.copyright {
  flex-grow: 5;
  margin: 50px 150px 0 150px;
}

/*################################## OTHER*/
.contact-form form a {
  width: 75px;
  height: 25px;
  margin: 20px;
}

.register-btns .reglink,
.card,
.icon {
  border: 1px solid #367588;
}

.register-btns,
.card,
.contact {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

/*################################## OTHER*/
@media (max-width: 1200px) {
  .card {
    min-width: none;
    max-width: none;
    width: 300px;
    flex-wrap: wrap;
  }
  .subscription,
  .service-card {
    flex-wrap: wrap;
  }
  .contents {
    bottom: -550px;
  }
  .register-btns {
    width: 35%;
  }
  .register-btns {
    justify-content: flex-end;
    padding-right: 10px;
  }
  .register-btns .reglink {
    margin: 0 10px;
  }
}
