:root {
  --primary-color: #436e7a;
  --bright-color: #fff;
  --stroke-color: #000;
}

/* .btn{
    padding: 0.75rem;
    display: block;
    text-decoration: none;
    background-color: var(--primary-color);
    color: var(--bright-color);
    text-align: center;
    border-radius: .625rem;
    font-weight: 700;
    cursor: pointer;
    height: 3.125rem;
  } */

.button input[type="submit"] {
  padding: 0.75rem;
  display: block;
  text-decoration: none;
  background-color: var(--primary-color);
  color: var(--bright-color);
  text-align: center;
  border-radius: 0.625rem;
  font-weight: 700;
  cursor: pointer;
  height: 3.125rem;
  border: none;
  display: grid;
  place-items: center;
}

.button input[type="submit"]:hover {
  box-shadow: 0 0 0 2px var(--bright-color), 0 0 0 3px var(--primary-color);
}

.width-50 {
  width: 50%;
}

.ml-auto {
  margin-left: auto;
}
