.days--container {
    width: 120px;
    border: 1px solid #757575;
    color: white;
    background-color: #2688A6;
    position: absolute;
    margin: 0;
    padding: 0;
    z-index: 1;
    height: 220px;
    left: 0px;
    overflow-y: auto;
    /* display: none; */
}

.days--container ul {
    list-style: none;
    text-align: center;
}

.days--container ul li:hover {
    background-color: #000;
    color: white;
}