<<<<<<< HEAD
.schedule--container {
    position: absolute;
    /* width: 100%; */
    padding: 10px;
    /* height: 100%; */
    overflow: hidden;
    overflow-y: scroll;
    top: 30px;
    left: 280px;
}
=======
>>>>>>> 0f7f665 (new page added --help page)
