.nav {
    height: 5px;
    display: flex;
    box-shadow: 0px 0px 75px rgba(0, 0, 0, 0.14);
    position:absolute;
    top: 0;
    bottom: 0;
    align-items: center;
}

/* Logo and menu icon */

.navleft {
    flex: 0 0 20%;
    max-width: 20%;
    margin-left: 10px;
}

.search1-icon {
    position: absolute;
    top:0;
    left: 0;
    margin-top: 2em;
    margin-left: 1em;
}
 .search-icon {
    margin: 10px 0 0 ;
    padding: 0;
}

.navleft img {
    margin-left: 4em;
    width: 2em;
    height: 2em;
    margin-top: 5.9em;
}

/* Search bar  */

.navmiddle {
    margin-top: 4em;
    margin-left: 1em;
    display: flex;
    justify-content: center;
}

.navmiddle input {
    height: 45px;
    width: 300px;
    border-radius: 30px 0 0 30px;
    border: 1px solid #367588;
    outline: none;
    padding: 0 20px;
    justify-content: center;
    font-size: 18px;
}



.navmiddle .icon-holder {
    height: 35px;
    width: 70px;
    padding-top: 10px;
    text-align: center;
    background-color: #367588;
    border: 1px solid #367588;
    border-radius: 0 30px 30px 0;
}

/* Notification & profile pic */

.navright {
    flex: 0 0 18%;
    max-width: 0 0 18%;
    display: flex;
    justify-content: end;
    position: relative;
}

.navright  div img{
    margin-top: 4em;
    width: 3em;
    height:3em;
    margin-left: 1em;
    border-radius: 100%;
}
.navright .icon-holder {
    height: 40px;
    width: 70px;
    margin-top: 4em;
    margin-left: 5em;
   
}
