@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}
.showed{
  float: right;
  margin-right: 4em;
}
.route{
  position: absolute;
  top: 0;
  margin-left: 1.5em;
}
p{
  color: rgb(255, 250, 245);
}
body{
  background-color: #2e3d42;
  opacity: 100%;
  height: 55em;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
.App1 {
margin-left: 11em;
position:absolute;
top: 0;
margin-top: 5em;
}
.images{
  margin-top: 2em;
display: grid;
grid-template-columns:1fr 1fr 1fr;
grid-template-rows: 1fr 1fr;
  grid-gap:10px
}
.images img{
  border-radius: 8px;
  border: 2 solid blue;
  width: 270px;
  height: 220px;
}

li{
  list-style: none;
  margin-top: 1.5em;
}
 
   a{
    float:right;
    margin-right: 2em;
  }
  .a1{
    margin-right: 0.5em;
    color: white;
    font-family: snof;
    color: white;
  }
  .li3{
    font-family: snof;
  }
  .showed1{
    float: right;
    margin-right: 2em;
  }
  .videos{
    margin-left: 2em;
  display: grid;
  grid-template-columns:1fr 1fr ;
  grid-template-rows: 1fr 1fr;
  grid-gap: 20px;

  }
  .videos div{
    border-radius: 10px 10px;
    }
    video{
      border-radius: 10px 10px; 
      width: 22em;
      height: 15em;
    }
form{
  margin-top: 3em;
  margin-left: 3em;
}
.li1{
  color:#367588;
  text-decoration: none;
  float: left;
  font-size: 2em;
position:absolute;
margin-top: 1em;
  margin-left: 5em;
}
.li2{
  color:black;
  text-decoration: none;
  float: left;
  font-size: 2em;
  position: absolute;
margin-top: 1em;
  margin-left: 8.5em;
}
  @font-face {
    font-family: snof;
    src: url(CELTG___.TTF);

  }
