.calendar--body {
    display: grid;
    grid-template-columns: repeat(7,1fr);
}

.calendar--day--name {
    font-weight: bold;
    margin-bottom: 1rem;
}

.calendar--day--date {
    width: 120px;
    height: 120px;
    background-color: #D9D9D9;
    border: 1px solid #EEEEEE;
    padding: 90px 170px 0 10px;
}