.calendar--header {
    display: flex;
    width: 1250px;
}

h2 {
    color: #367588;
}

.header--left--container {
    display: flex;
    align-items: center;
}

.date--picker {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
}

.picker {
    display: inline;
    margin: 10px;
    border-right: 1px solid black;
}

input[type="number"] {
    width: 6rem;
    font-size: 1rem;
    padding: 0.5rem;
    border: none;
    outline: none;
}